body {
  color: #333;
  text-align: left;
  font-family: 'arial', Courier, monospace, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#cabecera {
  box-shadow: #333;
  background-color: #33a;
  color: white;
  margin: 0;
  padding: 0.5em;
  font-size: 24px;
}

#container {
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
}

#container h1 {
  font-size: 60px;
}

span {
  margin-left: 1em;
  font-size: 16px;
}